body {
    font-family: 'Fira Sans', Arial, sans-serif;
    margin: 0px;
    color: #141414;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
    display: block;
}